/*Responsive Menu*/
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -14rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 14rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.ui-datepicker-calendar {
    display: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -14rem;
    }
}

/*------------------------------------------------------*/

.full-height {
    height: 100%;
}

.nounderline:hover{ 
    text-decoration:none; 
}

.mw1k{
    max-width: 1000px;
}

.mxw-1300px{
    max-width: 1300px
}

body {
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999);
}

.chat-head{
    width: 35px;
    height: 35px;
    min-width: 30px;
    min-height: 30px;
    max-width: 35px;
    max-height: 35px;
}

.bg-top-bar{
    background-color: #333333;
}

.bg-side-bar{
    background-color: #222222;
}

.bg-side-item-bar:hover{
    background-color: #444444;
}

.bg-mid-bar{
    background-color: #444444;
}

.bg-card-header{
    background-color: #CDD2BD;
}

.border-card-color{
    border-color: #CDD2BD;
}

.text-10px{
    font-size: 10px;
}
